In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/madhurendra1/machine-learning/main/UAS_SVM.csv")   # read the dataset

In [ ]:
# import all required library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.under_sampling import NearMiss
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from prettytable import PrettyTable

In [ ]:
data.shape         # shape of the dataset

(999, 10)

In [ ]:
data.columns         # columns

Index(['Customer ID', 'Age', 'Income', 'Education', 'Occupation', 'Income.1',
       'Average Balance', 'Appraisal', 'Industri', 'Pelunasan Kredit'],
      dtype='object')

In [ ]:
data.head()     # first 5 rows
data.drop(['Customer ID'], axis=1, inplace=True)

In [ ]:
data.sample(5)     # random 5 rows

,Age,Income,Education,Occupation,Income.1,Average Balance,Appraisal,Industri,Pelunasan Kredit
826,5,4,3,1,3,1,2,3,0
890,1,4,2,4,2,4,5,4,1
761,2,4,1,3,3,5,4,1,1
166,1,4,3,4,2,5,4,5,0
444,2,1,1,1,1,3,3,2,1

In [ ]:
data.info()                 # data information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               999 non-null    int64
 1   Income            999 non-null    int64
 2   Education         999 non-null    int64
 3   Occupation        999 non-null    int64
 4   Income.1          999 non-null    int64
 5   Average Balance   999 non-null    int64
 6   Appraisal         999 non-null    int64
 7   Industri          999 non-null    int64
 8   Pelunasan Kredit  999 non-null    int64
dtypes: int64(9)
memory usage: 70.4 KB

In [ ]:
data.isnull().sum()    # count the number of null value present in the dataset

# conclusion: No null value present in the dataset

Age                 0
Income              0
Education           0
Occupation          0
Income.1            0
Average Balance     0
Appraisal           0
Industri            0
Pelunasan Kredit    0
dtype: int64

## Label Encoding

In [ ]:
columns = [' workclass', ' education',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' hours-per-week', ' native-country',
       ]
       
label_encoder = LabelEncoder()
 
for col in columns:
    data[col]= label_encoder.fit_transform(data[col])       


# After label encoding
data.head()

In [ ]:
data.describe()

In [ ]:
sns.countplot(data[' sex'])   # countplot for sex

#conclusion: number of male greater than female

In [ ]:
sns.countplot(data[' income'])
incomeGreaterThan50k = data[data[' income']==' <=50K']
incomeLessThan50k = data[data[' income']==' >50K']

print('Shape of <=50k : ', incomeGreaterThan50k.shape)
print('\nShape of >50k : ', incomeLessThan50k.shape)

sns.countplot(data=data, x = ' income',label='Count')

## Splitting the dataset into train(80%) and test set(20%)

In [ ]:
# dependentVariable: 'income'
dependentVariable = 'Pelunasan Kredit'

X = data.drop([dependentVariable], axis=1)

y = data[dependentVariable]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print("X_train", X_train.shape)
print("X_test", X_test.shape)
print("y_train", y_train.shape)
print("y_test", y_test.shape)

## k-nearest neighbors

### For Linaer Kernal

In [ ]:
cValue = [i for i in range(1, 11) if i%2==1]      
linaerAccuracy=[]
for c in cValue:    
    svm_classifier = SVC(C=c, kernel='linear')
    svm_classifier.fit(X_train, y_train)
    linaerAccuracy.append(accuracy_score(y_test, svm_classifier.predict(X_test))*100)

In [ ]:
plt.rcParams["figure.figsize"]=8,5
plt.plot(cValue, linaerAccuracy, color='blue',linestyle='dashed', marker='o', markerfacecolor='red')  
plt.title("Accuracy plot for linear kernal") 
plt.xlabel('C value')
plt.ylabel('Accuracy')
plt.grid()

Conclusion: for manhatton distance when k=21 classifier gives maximum accuracy

In [ ]:
cValue = [i for i in range(1, 31) if i%2==1]      
rbfAccuracy=[]
for c in cValue:    
    svm_classifier = SVC(C=c, kernel='rbf')
    svm_classifier.fit(X_train, y_train)
    rbfAccuracy.append(accuracy_score(y_test, svm_classifier.predict(X_test))*100)

In [ ]:
plt.rcParams["figure.figsize"]=8,5
plt.plot(neighbors, ecludienAccuracy, color='blue',linestyle='dashed', marker='o', markerfacecolor='red')  
plt.title("Accuracy plot for manhattan_distance") 
plt.xlabel('K_Neighbours')
plt.ylabel('Accuracy')
plt.grid()

conclusion: for euclidean_distance when k=23 classifier gives maximum accuracy

### Compare euclidean_distance and manhattan_distance

In [ ]:
myTable = PrettyTable(["Distance Name", "K", "Accuracy"]) 

for i in range(len(ecludienAccuracy)):
    myTable.add_row(["Ecludien", neighbors[i], ecludienAccuracy[i]])

for i in range(len(manhattanAccuracy)):
    myTable.add_row(["Manhattan", neighbors[i], manhattanAccuracy[i]])

print(myTable)

In [ ]:
plt.rcParams["figure.figsize"]=13,10

plt.plot(neighbors, ecludienAccuracy, color='green',linestyle='dashed', marker='o', markerfacecolor='black', label="Precision")
plt.plot(neighbors, manhattanAccuracy, color='pink',linestyle='dashed', marker='o', markerfacecolor='red', label="Recall")
plt.title("Accuracy plot for Both distance") 
plt.xlabel('K_Neighbours')
plt.ylabel('Accuracy')
plt.grid()
plt.show()

Conclusion: when distance is manhattan and k=21 KNN gives maximum accuracy

In [ ]:
KnnClassifier = KNeighborsClassifier(n_neighbors=21, p=1)
KnnClassifier.fit(X_train, y_train)

In [ ]:
plt.rcParams["figure.figsize"]=8,5
print("\nAcuracy of KNN classifier for test set: ", accuracy_score(y_test, KnnClassifier.predict(X_test))*100)
print('\nClassification Report for test case : \n', classification_report(y_test, KnnClassifier.predict(X_test)))
print("\nConfusion Matrix for test case : \n", confusion_matrix(y_test, KnnClassifier.predict(X_test)))
print('\nConfusion Matrix Heatamp for test case: ')
sns.heatmap(confusion_matrix(y_test, KnnClassifier.predict(X_test)), annot=True, fmt='d')

In [ ]:
plt.rcParams["figure.figsize"]=8,5
print("Acuracy of KNN classifier for train set: ", accuracy_score(y_train, KnnClassifier.predict(X_train))*100)
print('\nClassification Report for train set : \n', classification_report(y_train, KnnClassifier.predict(X_train)))
print("\nConfusion Matrix for train set : \n", confusion_matrix(y_train, KnnClassifier.predict(X_train)))
print('\nConfusion Matrix Heatamp for train set: ')
sns.heatmap(confusion_matrix(y_train, KnnClassifier.predict(X_train)), annot=True, fmt='d')